  <% @restaurants.each do |restaurant| %>
    <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%=h restaurant.phone  %></td>
        <td><%=h restaurant.address1 %></td>
        <td><%=h restaurant.city    %></td>
        <td><%=h restaurant.state  %></td>
        <td><%=h restaurant.zip %></td>
    </tr>
  <% end %>

