<div class="user_review">
  <h1> Please enter restaurant information </h1>
  <br />
  <%= form_for @restaurant do |f| -%>
       Name: <%= f.text_field :name %> <br />
       Phone: <%= f.text_field :phone %> <br />
       Address Line 1: <%= f.text_field :address1 %> <br />
       Address Line 2: <%= f.text_field :address2 %> <br />
       City: <%= f.text_field :city %> <br /> 
       Zip: <%= f.text_field :zip %> <br /> 
       State: <%= f.text_field :state %> <br /> 
       Comments: <%= f.text_field :other_comments %> <br /> 
       <%= f.submit %>
  <% end -%>
   <br />
   <a href="<%= url_for(:action => 'index', :controller => 'restaurants') %>"> Back to Restaurant Listing </a>
</div>
