<div class="objectdetail">
  <h1><%= @restaurant.name %></h1>
  <p><strong>Phone: </strong> $<%= @restaurant.phone %><br />
   <%= @restaurant.address1 %>
   <%= @restaurant.address2 %><br />
   <%= @restaurant.city %>
   <%= @restaurant.state %>
   <%= @restaurant.zip %><br />
   <br />
   <a href="<%= url_for(:action => 'index', :controller => 'reviews', :restaurant_id => @restaurant.id) %>"> View Reviews </a>
   <br />
   <a href="<%= url_for(:action => 'index', :controller => 'restaurants') %>"> Back to full restaurant listing </a>   
</div>
