
<h1><%= @restaurant.name %></h1>
<p><strong>Phone: </strong> $<%= @restaurant.phone %><br />
 <%= @restaurant.address1 %>
 <%= @restaurant.address2 %><br />
 <%= @restaurant.city %>
 <%= @restaurant.state %>
 <%= @restaurant.zip %><br />
<hr />
