<%= javascript_include_tag "reviews" %>
<div class="user_review">
  <h3> User Reviews </h3>
  <div id="restaurant_reviews">
  <% @reviews.each do |review| %>
    <p> submitted by 
      <%= review.user.email %> on 
      <%= review.created_at %> <br />
      Rating: <%= review.rating %>(out of 5 stars) <br />
      Comment: <%= review.comment %>
    </p>
  <hr>
  <% end %>
  </div>
  <br />
  <%= will_paginate @reviews %>
  <br />
</div>

<a class="links" id="add_review" href="<%= url_for(:action => 'new', :controller => 'reviews', :restaurant_id => @restaurant.id) %>"> Submit your review </a>

<br />

<div id="new_review">
 <%= render "reviews/new", :@review => Review.new %>
</div>
