<div class="user_review">
  <h3> User Reviews </h3>
  <% @reviews.each do |review| %>
    <p> submitted by 
      <%= review.user.email %> on 
      <%= review.created_at %> <br />
      Rating: <%= review.rating %>(out of 5 stars) <br />
      Comment: <%= review.comment %>
    </p>
  <hr>
  <% end %>
  <br />
  <%= will_paginate @reviews %>
  <br />
</div>
<a href="<%= url_for(:action => 'new', :controller => 'reviews', :restaurant_id => @restaurant.id) %>"> Add Review </a>
<br />

<%= render "reviews/new", :@review => Review.new %>

