
<div class="user_review">
  <h1> User Reviews </h1> <br />   

  <% @reviews.each do |review| %>
    <p> submitted by 
      <%= review.user.email %> on 
      <%= review.created_at %> <br />
      Rating: <%= review.rating %> <br />
      Comment: <%= review.comment %>
    </p>
  <hr>
  <% end %>
  <a href="<%= url_for(:action => 'new', :controller => 'reviews', :restaurant_id => @restaurant.id) %>"> Add Review </a>
  <br />
  <%= link_to 'Back', :back %>
</div>

