
<div class="user_review">
  <h1> User Reviews </h1> <br />   

  <% @reviews.each do |review| %>
    <p> submitted by 
      <%= review.user.email %> on 
      <%= review.created_at %> <br />
      Rating: <%= review.rating %>(out of 5 stars) <br />
      Comment: <%= review.comment %>
    </p>
  <hr>
  <% end %>
  <br />
  <%= will_paginate @reviews %>
  <br />
  <a href="<%= url_for(:action => 'new', :controller => 'reviews', :restaurant_id => @restaurant.id) %>"> Add Review </a>
  <br />
  <a href="<%= url_for(:action => 'show', :controller => 'restaurants', :id => @restaurant.id) %>"> Back </a>
  <br />
</div>

