<!DOCTYPE html>
<html>
<head>
  <title>Tastebud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="centered object_detail">
  <div id="banner">
    <img src="/assets/banner.jpg" /> 
  </div>
  <div id="user_now">
    <% if user_signed_in? %>
      Welcome <%= current_user.email %>, Not this user?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
    <% else %>
           <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>

  <%= form_tag :controller => 'restaurants', :action => 'search', :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :id => 'search_field' %>
    <%= submit_tag "Search", :name => nil %> 
    <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %>
  </div>

<% flash.each do |name, msg| %>
   <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
